
*{
	margin: 0;
	padding: 0;
}

html{
	background-color: red;
}

body{
	background-color: red;
}
a
{
	color: black;
}
li
{
	display: inline;
	padding:0.1%;
	color: black;
}
ul li{
		display: inline;
		padding-right: 16px;
		padding-left: 16px;
		border-right: 1px solid #CCC;
		}

ul li:last-child{
	border-right: 0px;
	}


h3{
	margin-top: 25px;
	display: outline;
}


.navbar{
	background-color: blue;
	margin: 0;
	
	text-transform: uppercase;
	padding: 1%;



}
.navigation{
	padding: 10px 10%;


}


.navbar li:hover{
	background-color: white;
	
}


.title{
	background: url(../tretaslika.jpg);
	padding-top: 100px;
	padding-bottom: 100px;
	background-size: cover;
	text-align: center;	
	width: 100%;
	font-size: 20px;
	
}

.about{
	float: left;
	width: 60%;
	margin-top: 10px;

}

.contact{
	width: 15%;
	float: right;
}

.serilipro, .centar, footer{
	clear: both;

}

.serilipro h2, .centar h4{
	text-align: center;
}
.prv, .vtor, .tret{
	width: 28%;
	float: left;
	margin-left: 3%;

}
.prv img, .vtor img, .tret img{
	width: 100%;
}

.centar h4{
	padding-top: 100px;
	padding-bottom: 40px;
}

.left{
	width: 25%;
	float: left;

}

.desen{
	float: right;
	width: 30%;
	background-color: blue;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;

}

.desen input, textarea{
	margin-top: 10px;
	width: 60%;
}
.desen button{
	margin-left: 30%;
	border-radius: 30px;
	background-color: lightblue;
}

footer{
	background-color: blue;
	height: 80px;
}

.l-fut{
	float: left;
	width: 40%;
}

.d-fut{
	float: right;
	width: 80px;
	height: 80px;
}



